<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Beauty Now</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/BeautyNowStyles.css" rel="stylesheet">
  <script src="js/BeautyNowCode.js"></script>

  <script>
        window.addEventListener("load", function() {
            document.forms[1].txtBillAmt.value = calculateBill('menuTable');
            document.querySelector("#calcBill").addEventListener("click", function() {
                document.forms[1].txtBillAmt.value = calculateBill('menuTable');
            });
            document.querySelector("#showPigm").addEventListener("click", function() {
                highlightVegetarian('menuTable', this.checked);
            });
        });
    </script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Beauty Now</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://www.google.com/maps/place/6+Westmoreland+St,+Temple+Bar,+Dublin,+D02+VF82/@53.3456693,-6.2616529,17z/data=!3m1!4b1!4m5!3m4!1s0x48670e84caf23a17:0xfe6ee3979ecffae2!8m2!3d53.3456661!4d-6.2594589">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app.js">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
		<div class="row">
			<div class="col-lg-12 text-left">
				<h1 class="mt-5">Welcome to Beauty Now</h1>
				<p class="lead">Select your Procedures form the menu.</p>
			</div>
			<div id="results" class="col-lg-8 text-center order-3"></div>
			<div class="col-lg-4 text-center order-2">
				<form enctype="application/json" action="/post/json" method="post">
					<div class="form-group">
						<select class="form-control" name="sec_n">
							<option value="0">Waxing</option>
							<option value="1">Facial Threading</option>
							<option value="2">Manicure</option>
                            <option value="3">Pedicure</option>
						</select>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="item" placeholder="Item">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="price" placeholder="Price">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</form>
                    <button id="delete" class="btn btn-block btn-danger">Delete</button>
                    <p class="text-muted">To delete an entree, click the required row first</p>
                    <form>
                    <div class="input-group">
                        <div class="input-group-prepend">
                                                        <span class="input-group-text">&euro;</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Total" name="txtBillAmt">
                         <div class="input-group-append">
                            <div class="input-group-text">
                                <input type="checkbox" id="show" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <input class="btn btn-block btn-secondary" type="button" name="btnCalcBill" value="Calculate Bill" id="calcBill">
                    </div>
                    
                </form>
			</div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="images/eyeBrows.jpg"><img class="card-img-top" src="images/eyeBrows.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item One</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="images/mani-pedi.jpg"><img class="card-img-top" src="images/mani-pedi.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Two</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="images/waxing.jpg"><img class="card-img-top" src="images/waxing.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Three</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="images/eyelashes.jpg"><img class="card-img-top" src="images/eyelashes.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Four</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          
          
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; jessycahumildes@hotmail.com 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="jquery/table.js"></script>
   

</body>

</html>
