  html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: pink;
 
}
.navbar-light {
        background-color: #ffffff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: pink;
  color: pink;
}
table, th, td {
     border-collapse: collapse;
     border: 1px solid black;
     text-align: center;
     border-block-end-color: black;
}
 table {
     border-collapse: collapse;
     width:100%;
     border-block-end-color: pink;
}
 td, th {
     border: 1px solid #999;
     padding: 0.5rem;
     text-align: left;
}
 th {
     font-weight: bold;
}

.fixed-top {
    color: pink;
}
.selected {
            background-color: pink;
            color: #FFF;
}

div.container{
    color: palevioletred;
}
a.navbar-brand{
    color: black;
   
}

.card-body{
    color: black;

}

   

